<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Framework Libellule !</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <style>
        a,a:focus,a:hover{color:#fff}body,html{height:100%;background-size:cover;background-position-y:center!important;background:linear-gradient(rgba(51,51,51,.75),#285f34),url(https://upload.wikimedia.org/wikipedia/commons/5/5e/Libellule-Remy_BPL.jpg)}body{display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;color:#fff;text-shadow:0 .05rem .1rem rgba(0,0,0,.5);box-shadow:inset 0 0 5rem rgba(0,0,0,.5)}.cover-container{max-width:42em}.masthead{margin-bottom:2rem}.masthead-brand{margin-bottom:0}.nav-masthead .nav-link{padding:.25rem 0;font-weight:700;color:rgba(255,255,255,.5);background-color:transparent;border-bottom:.25rem solid transparent}.nav-masthead .nav-link:focus,.nav-masthead .nav-link:hover{border-bottom-color:rgba(255,255,255,.25)}.nav-masthead .nav-link+.nav-link{margin-left:1rem}.nav-masthead .active{color:#fff;border-bottom-color:#fff}@media (min-width:48em){.masthead-brand{float:left}.nav-masthead{float:right}}.cover{padding:0 1.5rem}.cover .btn-lg{padding:.75rem 1.25rem;font-weight:700}.mastfoot{color:rgba(255,255,255,.5)}
    </style>
</head>
<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Framework Libellule</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" target="_blank" href="https://github.com/biynmedia/Framework-Libellule-Skeleton">GitHub</a>
                <a class="nav-link" target="_blank" href="http://altorouter.com">Alto Router</a>
                <a class="nav-link" target="_blank" href="https://twig.symfony.com/">Twig</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Hello World !</h1>
        <p class="lead">
            Libellule est un Framework d'apprentissage PHP de la POO.
            Il aborde des notions essentiels tel que le principe de container, singleton sans
            toutefois aller trop loin. Les concepts sont réfléchis dans une
            démarche de simplification afin de faciliter la compréhension de tout en chacun.
        </p>
    </main>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Developpement <a target="_blank" href="https://biyn.media/">Biyn Media</a>, par <a target="_blank"
                                                                                                  href="https://github.com/hugoliegeard">Hugo
                    LIEGEARD</a>.</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
